@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reviewly</h1>
    <p class="lead">Reviewly is a lightweight website for quickly finding &amp; adding reviews for esports community websites.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
           Click here to add a review
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Popular Reviews</h2>
    </div>
</div>